@using Vidly.Models
@model  Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{
    bool isThereCustomers = Model.Customers.Count > 0;
    string classes = isThereCustomers ? "table table-bordered table-hover" : null;
}

@if (!isThereCustomers)
{
    <p>there are no customers</p>
}
else
{
    <table class="@classes">
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
        </tr>
        @foreach (Customer customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@Html.ActionLink(customer.Name, string.Format("Details/{0}", customer.Id), "Customer")</td>
            </tr>
        }
    </table>
}