@using Vidly.Models
@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@{
    bool isThereMovies = Model.Any();
    string classes = isThereMovies ? "table table-bordered table-hover" : null;
}

@if (!isThereMovies)
{
    <p> There are no Movies</p>
}
else
{
    <table class="@classes">
        <tr>
            <th>ID</th>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
        @foreach (Movie movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@Html.ActionLink(movie.Name, string.Format("Details/{0}", movie.Id), "Movies")</td>
                <td>@movie.MovieGenre.Name</td>
            </tr>
        }
    </table>
}
